@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply mt-4 sm:mt-0 inline-flex items-center px-4 py-2 bg-gray-100 dark:bg-gray-900 border border-transparent rounded-md font-semibold text-xs text-gray-900 dark:text-gray-100 uppercase tracking-widest dark:hover:bg-gray-700 hover:bg-gray-200 active:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-200 disabled:opacity-25 transition;
    }

    .select {
        @apply block w-full px-4 py-2 bg-gray-100 dark:bg-gray-900 border border-transparent rounded-md font-semibold text-xs text-gray-900 dark:text-gray-100 tracking-widest dark:hover:bg-gray-700 hover:bg-gray-200 active:bg-indigo-700 disabled:opacity-25 transition;
    }

    .select-left {
        @apply block px-4 py-2 bg-gray-100 dark:bg-gray-900 border border-transparent rounded-l-md rounded-r-none font-semibold text-xs text-gray-900 dark:text-gray-100 tracking-widest dark:hover:bg-gray-700 hover:bg-gray-200 active:bg-indigo-700 focus:outline-none disabled:opacity-25 transition;
    }

    select:focus {
        outline: none;
        box-shadow: none;
        /* Pour enlever toute ombre lors du focus */
    }

    .btn-select-right {
        @apply block px-4 py-2 bg-gray-100 dark:bg-gray-900 border border-transparent rounded-r-md rounded-l-none font-semibold text-xs text-gray-900 dark:text-gray-100 uppercase tracking-widest dark:hover:bg-gray-700 hover:bg-gray-200 active:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-200 disabled:opacity-25 transition;
    }
    .btn-select-left {
        @apply block px-4 py-2 bg-gray-100 dark:bg-gray-900 border border-transparent rounded-l-md rounded-r-none font-semibold text-xs text-gray-900 dark:text-gray-100 uppercase tracking-widest dark:hover:bg-gray-700 hover:bg-gray-200 active:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-200 disabled:opacity-25 transition;
    }
    .btn-select-top-right {
        @apply block px-4 py-2 bg-gray-100 dark:bg-gray-900 border border-transparent rounded-t-md rounded-b-none font-semibold text-xs text-gray-900 dark:text-gray-100 uppercase tracking-widest dark:hover:bg-gray-700 hover:bg-gray-200 active:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-200 disabled:opacity-25 transition;
    }

    .btn-select-top-left {
        @apply block px-4 py-2 bg-gray-100 dark:bg-gray-900 border border-transparent rounded-t-md rounded-b-none font-semibold text-xs text-gray-900 dark:text-gray-100 uppercase tracking-widest dark:hover:bg-gray-700 hover:bg-gray-200 active:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-200 disabled:opacity-25 transition;
    }

    .btn-select-bottom-right {
        @apply block px-4 py-2 bg-gray-100 dark:bg-gray-900 border border-transparent rounded-b-md rounded-t-none font-semibold text-xs text-gray-900 dark:text-gray-100 uppercase tracking-widest dark:hover:bg-gray-700 hover:bg-gray-200 active:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-200 disabled:opacity-25 transition;
    }

    .btn-select-bottom-left {
        @apply block px-4 py-2 bg-gray-100 dark:bg-gray-900 border border-transparent rounded-b-md rounded-t-none font-semibold text-xs text-gray-900 dark:text-gray-100 uppercase tracking-widest dark:hover:bg-gray-700 hover:bg-gray-200 active:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-200 disabled:opacity-25 transition;
    }

    .btn-select-square {
        @apply block px-4 py-2 bg-gray-100 dark:bg-gray-900 border border-transparent font-semibold text-xs text-gray-900 dark:text-gray-100 uppercase tracking-widest dark:hover:bg-gray-700 hover:bg-gray-200 active:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-200 disabled:opacity-25 transition;
    }

    .icons {
        @apply fill-gray-500 dark:fill-gray-300 hover:fill-gray-700 dark:hover:fill-gray-500;
    }

    .icons-no_hover {
        @apply fill-gray-500 dark:fill-gray-300;
    }

    .text-input:disabled {
        @apply dark:bg-[#1b2533] bg-[#fcfcfd] border-none dark:text-[#636c79] text-[#d7d8db];
        /* Dark mode */
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        @apply dark:invert;
    }

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        @apply dark:invert;
    }

    .copiable:hover {
        @apply cursor-pointer;
    }

    .hidden_copiable,.hidden_copiable_small {
        display: none;
        @apply pb-1;
    }

    .copiable_parent:hover .copiable {

        @apply rounded-md pr-1 dark:bg-[#2d3748] bg-[#f9fafb];
    }

    .copiable:hover+.hidden_copiable,.copiable:hover+.hidden_copiable+.hidden_copiable_small {
        display: block;
    }
    .copiable:hover  {
        display: block;
    }
    .bg-gray-850 {
        background-color: #18202F;
    }
    .btn-contact {
        padding-top: 0.25rem;
        background: none;
        @apply bg-none border-none;
    }
    .lien {
        @apply text-blue-500 dark:text-blue-300 underline hover:text-blue-700 dark:hover:text-blue-500;
    }
}
